.logo{
  float: left;
  font-size: 1.7em;
  color:#ffffff;
  font-weight: bold;
}
#navbarSupportedContent .nav-link{
  color: #D3D3D3;
}
#navbarSupportedContent .nav-link:hover{
  color: #ffffff;
  border-bottom: solid 1px burlywood;
}
.jumbotron{
  background-image: url(bg.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
}
.article-list{
  width: 80%;
  margin: 0 auto;
}
.article-title{
  font-weight: bold;
  font-size: 1.5em;
}
.article-body{
  border-top: 1px solid #eaeaea;
}
/**************** footer section******************/
html, body{ height:100%;}
body{
  display:flex;
  flex-direction:column;
}

footer{
  margin-top:auto;
  background-color: black;
  padding: 10px 0px;
}
footer ul{
  float  :right;
  list-style: none;
}
footer li{
  margin-right: 15px;
}
