<h1 class="text-center py-2"></h1> 
<div class="text-center ">
    <ul class='list-unstyled'>
      <div class = row>
        <div class='card card-body col-md-4 offset-4 col-sm-12 bg-light'>
          <li class='py-1 article-title'><%= @category.name %></li> 
        </div>
      </div>  
    </ul>
</div>