
  <footer>
    <small>
      @copyright reserved |<a href="">  Ruby on Rails Developer</a>
      <ul class="list-inline ml-auto">
        <li class="list-inline-item"><%= link_to "About",about_path %></li>
        <li class="list-inline-item"><%= link_to "Home",root_path %></li>
      </ul>
    </small>
  </footer>
